* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(141, 96, 184);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 50px #110111 ;
}